<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>
</head>

<body>


<center>
    <h1>Kursai</h1>
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Kaina</th>
            <th>Įvertnimas</th>
        </tr>
        <tr th:each="courses : ${allCourses}">
            <td><a th:href="@{'/user/courses/' + ${courses.id}}"><span th:text="${courses.name}"></span></a>
            </td>
            <td th:text="${courses.price}">2.41</td>
            <div th:with="result=${courses.voteSum / courses.votersCount}">
                <td th:text="${result}">5</td>
            </div>
        </tr>
    </table>
</center>

</body>

</html>

<!--<form action="#" th:action="@{/CourseInfoPage.html}" th:object="" method="post">
    <input type="text" th:field="${courses.name}" />
    <input type="submit" />
</form>-->
<!-- <td th:text="${courses.name}">Onions</td> -->