<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<center>
    <h1>Kurso informacija</h1>
    Pavadinimas: <span th:text="${course.name}"></span><br>
    <!--Aprašymas: <span th:text="${course.description}"></span><br>-->

    <div th:each="courseSection : ${allSections}">
        <p th:text="${courseSection.name}"></p>
        <p th:text="${courseSection.description}"></p>
        <p><a th:href="@{'/student_teacher/courses/' + ${course.id} + '/' + ${courseSection.id} + '/task'}">Atlikti skyriaus testą</a></p>
    </div>

    <!--<b><a th:href="@{'/user/buy/' + ${course.id} + '/' + ${student.id}}">Įsigyti</a></b>-->
</center>
</body>
</html>