<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<center>
    <h1>Testas</h1>
    <div th:each="question,iter : ${allQuestions}" th:id="${iter.index}">
    <p th:text="${question.text}"></p>
        <form>
            <label th:each="answer : ${question.answers}">
                <input type="radio" th:name="answer + ${iter.index}" th:value="${answer.isCorrect()}"><span th:text="${answer.text}"></span><br>
            </label>
        </form>
    </div>
    <input id="submit" type="button" value="Kitas klausimas">
</center>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        var id = 0;
        var teisingi = 0;
        var visi = document.getElementsByTagName("div").length;
        $('div').hide();
        $("#" + id).show();
        $("#submit").click(function() {
            var selectedButton = 'input[name="answer' + id + '"]:checked';
            var answer = document.querySelector(selectedButton).value;
            if(answer === "true"){
                teisingi++;
            }

            if(id < visi - 1) {
                $("#" + id).hide();
                id++;
                $("#" + id).show();
            }
            else{
                id++;
                alert('Testo rezultatas: ' + teisingi + ' iš ' + id);
                window.location.href = window.location.href + '/calculate?answers=' + teisingi;
            }
        });
    });
</script>
</html>