<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kursas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <div align="right"><a href="/logout"><b>LOGOUT<b></b></b></a></div>
    <a class="btn btn-primary" href="/student_teacher/purchased_courses" role="button">Purchased courses</a>
    <a class="btn btn-primary" href="/student_teacher/created_courses" role="button">Created courses</a>
    <a class="btn btn-primary" href="/user/courses" role="button">Courses</a>
    <a class="btn btn-primary" href="/user/courses_forum" role="button">Courses forum</a>
</center>
<center>
    <h1>Sukurti Kursai</h1>
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Aprašymas</th>
            <th>Kaina</th>
            <th>Įvertinimas</th>
            <th>Redaguoti</th>
            <th>Pašalinti</th>
        </tr>
        <tr th:each="courses : ${allCreatedCourses}">
            <td><a th:href="@{'/stu/courses/' + ${courses.id}}"><span th:text="${courses.name}"></span></a></td>
            <td th:text="${courses.description}"></td>
            <td th:text="${courses.price}"></td>
            <div th:with="result=${courses.voteSum / courses.votersCount}">
                <td th:text="${result}"></td>
            </div>
            <td><a class="btn btn-success" th:href="@{'/student_teacher/edit_course/' + ${courses.id}}" role="button">Redaguoti kursą</a></td>
            <td><a class="btn btn-danger" th:href="@{'/student_teacher/remove_course/' + ${courses.id}}" role="button">Pašalinti kursą</a></td>
        </tr>
    </table>
    <a class="btn btn-primary" th:href="@{'/student_teacher/create_course'}" role="button">Pridėti kursą</a>
</center>

</body>

</html>

<!--<form action="#" th:action="@{/CourseInfoPage.html}" th:object="" method="post">
    <input type="text" th:field="${courses.name}" />
    <input type="submit" />
</form>-->
<!-- <td th:text="${courses.name}">Onions</td> -->