<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Filtruoti kursus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <div align="right"><a href="/logout"><b>LOGOUT<b></b></b></a></div>
    <a class="btn btn-primary" href="/student_teacher/purchased_courses" role="button">Purchased courses</a>
    <a class="btn btn-primary" href="/student_teacher/created_courses" role="button">Created courses</a>
    <a class="btn btn-primary" href="/user/courses" role="button">Courses</a>
    <a class="btn btn-primary" href="/user/courses_forum" role="button">Courses forum</a>

<div class="container">
    <h2>Mokėtojo duomenys</h2>
    <form action="#" th:action="@{'/user/courses'}" method="get">
        <div class="form-group">
            Saskaitos numeris:<br/><input type="text" class="form-control" name="nuo">
            Saugos kodas:<br/><input type="text" class="form-control" name="iki">
        </div>
        <div th:with="result=${kiekis * 0.2}">
            <h4>Kaina už <span th:text="${kiekis}"></span> taškų yra <span th:text="${result}">5</span>€
            </h4></div>
        <button type="submit" class="btn btn-success">Apmokėti</button>
    </form>
</div>
</center>
</body>
</html>