<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Create New Post</title>
</head>
<body>

<div layout:fragment="content">

    <h2>Update post</h2>
    <br/>

    <form class="form-horizontal" th:object="${post}" th:action="@{'/user/courses_forum/' + ${course.id} + '/' + ${post.id} + '/update_post'}">
        <input type="hidden" th:field="*{id}" />
        <div th:class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label class="col-sm-2 control-label">Name</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="help-block">Name error</span>
            </div>
        </div>
        <div th:class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
            <label class="col-sm-2 control-label">Description</span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" th:field="*{description}" />
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">Description error</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>

    <br/><br/><br/>

</div>

</body>
</html>