<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div layout:fragment="content">
    <h2>Update post</h2>
    <form th:object="${post}" th:action="@{'/user/courses_forum/' + ${course.id} + '/' + ${post.id} + '/update_post'}">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>
</html>