<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nusipirkti kursai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <div align="right"><a href="/logout"><b>LOGOUT<b></b></b></a></div>
    <a class="btn btn-primary" href="/student_teacher/purchased_courses" role="button">Purchased courses</a>
    <a class="btn btn-primary" href="/student_teacher/created_courses" role="button">Created courses</a>
    <a class="btn btn-primary" href="/user/courses" role="button">Courses</a>
    <a class="btn btn-primary" href="/user/courses_forum" role="button">Courses forum</a>
</center>
<center>
    <h1>Jūsų kursai</h1>
    <table>
        <tr>
            <th>Pavadinimas</th>
            <th>Progresas</th>
        </tr>
        <tr th:each="studentCourse : ${studentCourses}">
            <td><a th:href="@{'/student_teacher/courses/' + ${studentCourse.course.id}}"><span th:text="${studentCourse.course.name}"></span></a>
            </td>
            <td th:text="${studentCourse.progress}"></td>
        </tr>
    </table>
</center>
</body>
</html>