<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{'/user/courses_forum/' + ${course.id} + '/' + ${post.id} + '/insert_comment'}">
<!--    <p>Pranesimas: <input type="text" th:field="*{text}" /></p>-->
    <input type="text" class="form-control margin-bottom-20" name="text" required/>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>
